@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	display:flex;
	flex-direction:column;
	width: 100%;
	height: 100vh;
}
section.main_sec{
	flex:auto;
	overflow: auto;
}

header {
	background-color: blue;
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
	padding: 2rem;
}

table {
	display:flex;
	width: 90%;
	margin: 0 auto;
}
